body {
    padding-top: 70px;
}
@media screen and (max-width: 768px) {
    body { padding-top: 180px; }
}

.login-form {
    padding: 30px;
    background-color: rgb(248, 248, 248);
    margin-top: 100px;
    border-radius: 10px;
}

.game-container {
  width: 390px;
  margin: 0 auto;
  text-align: center;
  color: #333;
}

.gameboard {
  overflow: hidden;
}

.gameboard div {
  background-color: #d9d9d9;
  width: 130px;
  height: 130px;
  float: left;
  font-size: 80px;
  line-height: 130px;
}

.r-border {
  border-right: 1px solid #333;
}

.b-border {
  border-bottom: 1px solid #333;
}

.btns {
    padding-top: 10px;
}

button.invite {
    margin-right: 20px;
}
