{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="players-list row">
        <div class="col-md-12">
            <h1>{% trans "Online players:" %}</h1>
            <ul class="list-group" id="online_users">
            {% for user in online_users %}
                <li class="list-group-item" id="user{{ user.id }}">
                    <button class="btn btn-success invite" data-id="{{ user.id }}">{% trans "Invite" %}</button>
                    {{ user.username }}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>


    <div class="game-container hide">
        <div class="alert message"></div>
        <div class="gameboard">
            <div id="00" class="square r-border b-border"></div>
            <div id="01" class="square r-border b-border"></div>
            <div id="02" class="square b-border"></div>
            <div id="10" class="square r-border b-border"></div>
            <div id="11" class="square r-border b-border"></div>
            <div id="12" class="square b-border"></div>
            <div id="20" class="square r-border"></div>
            <div id="21" class="square r-border"></div>
            <div id="22" class="square"></div>
        </div>
        <div class="invite-buttons hide btns">
            <button class="accept btn btn-success">{% trans "Accept" %}</button>
            <button class="decline btn btn-danger">{% trans "Decline" %}</button>
        </div>
        <div class="cancel-invite-buttons hide btns">
            <button class="cancel btn btn-danger">{% trans "Cancel invite" %}</button>
        </div>
        <div class="close-buttons hide btns">
            <button class="back btn btn-danger">{% trans "Close" %}</button>
        </div>
        <div class="stop-buttons hide btns">
            <button class="stop btn btn-danger">{% trans "Stop game" %}</button>
        </div>
        <div class="replay-buttons hide btns">
            <button class="replay btn btn-success">{% trans "Play again" %}</button>
            <button class="replay-cancel btn btn-danger">{% trans "Close" %}</button>
        </div>
    </div>

{% endblock content %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'js/libs/socket.io.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock js %}
