{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% trans "Tic-Tac-Toe" %}</title>
    {% block css %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    {% endblock css %}
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
           <div class="container">
               <div class="navbar-header">
                  <a class="navbar-brand" href="/">{% trans "Tic-Tac-Toe" %}</a>
               </div>
               <div>
                   <ul class="nav navbar-nav">
                   </ul>
                   {% if user.is_authenticated %}
                       <ul class="nav navbar-nav navbar-right">
                           <li><a class="logout" href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                       </ul>
                   {% endif %}
                   <ul class="nav navbar-nav navbar-right">
                       {% if LANGUAGE_CODE == 'en' %}
                           <li><a class="lang" href="{% url 'change_lang' lang='ru' %}"> RU </a></li>
                       {% else %}
                           <li><a class="lang" href="{% url 'change_lang' lang='en' %}"> EN </a></li>
                       {% endif %}
                  </ul>
               </div>
           </div>
        </nav>
        {% block content %}
        {% endblock content %}

    </div>

    {% block js %}
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% endblock js %}
</body>
</html>
