{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-3 col-md-offset-4 login-form">
            <form role="form" action="{% url 'login' %}" method="post">
                {% csrf_token %}
               {% if form.errors %}
                    {% for error in form.errors.values %}
                        <p class="alert alert-danger">{{ error.0 }}</p>
                    {% endfor %}
               {% endif %}
               <div class="form-group">
                  <input type="text" class="form-control" id="username" name="username"
                     placeholder="{% trans 'username' %}">
               </div>
               <div class="form-group">
                   <input type="password" class="form-control" id="password" placeholder="{% trans 'password' %}" name="password">
               </div>
               <button type="submit" class="btn btn-primary btn-block">{% trans "Login" %}</button>
            </form>
            <a href="{% url 'register' %}">{% trans "Registration" %}</a>
        </div>
    </div>
{% endblock content %}
