{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-3 col-md-offset-4 login-form">
            <form role="form" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    {% for error in form.errors.values %}
                        <p class="alert alert-danger">{{ error.0 }}</p>
                    {% endfor %}
                {% endif %}

               <div class="form-group">
                  <input type="text" class="form-control" id="username" name="username"
                     placeholder="{% trans 'username' %}" value="{{ form.username.value|default:'' }}">
               </div>
               <div class="form-group">
                   <input type="password" class="form-control" id="password1" placeholder="{% trans 'password' %}" name="password1">
               </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password2" placeholder="{% trans 'confirm password' %}" name="password2">
                </div>
               <button type="submit" class="btn btn-primary btn-block">{% trans "Register" %}</button>
            </form>
            <p>{% trans "Already have an account?" %} <a href="{% url 'login' %}">{% trans "Login" %}</a></p>
        </div>
    </div>
{% endblock content %}
